.todo-list-item {
  $max-height: 1px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: $max-height;
  transition: max-height 0.3s ease;

  &.remove {
    max-height: $max-height;
  }

  &.ready {
    max-height: 500px;
  }

  $parent-padding: 0;
  padding-top: $parent-padding;
  padding-bottom: $parent-padding;

  .todo-list-item__toggle {
    height: 100%;
    width: 100%;

    $child-padding: 0.75rem;

    padding-top: $child-padding;
    padding-bottom: $child-padding;

    &:hover {
      cursor: pointer;
    }
  }

  @keyframes strike {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .strike {
    position: relative;
  }

  .strike::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation: strike 0.2s linear 1 forwards;
  }
}
